div.listItems {
  display: flex;
  border-bottom: 1px solid #f7f7f7;
  margin-bottom: 1em;
  position: relative;
}

div.member {
  flex: 0 0 0 4.8em;
  width: 4.8em;
}

img.avatar {
  width: 4.8em;
  height: 4.8em;
  border-radius: .5em
}

div.list {
  flex: 1;
  padding: .3em 0 0 .8em;
}

span.nodename {
  padding: .1em .3em;
  background: #ccc;
  color: #7b7a7a;
  vertical-align: middle;
}

span.username {
  color: #666;
  font-weight: 400;
  margin-left: .5em;
  vertical-align: middle;
}

h3.title {
  width: 90%;
  font-size: 1.4em;
  margin: .7em 0;
}

h3.title a {
  color: #334;
}

span.replies {
  position: absolute;
  top: 50%;
  right: .5em;
  padding: .3em .5em;
  margin-top: -1em;
  color: #fff;
  border-radius: 50%;
  background: #b9b8b8;
  font-weight: 700;
}
