div.all_of_member_info {
  width: 100%;
  border-radius: .3em;
  background: #fff;
  margin-bottom: .8em;
}

div.member_info_box {
  display: flex;
  padding: .5em;
}

div.member_avatar_box {
  flex: 0 0 0 4.8em;
  width: 4.8em;
}

img.info_avatar {
  width: 4.8em;
  height: 4.8em;
  border-radius: .5em;
}

div.member_info_data {
  flex: 1;
  padding-left: 1.5em;
}

h1.member_username {
  margin-bottom: 1.5em;
}

div.member_created {
  font-size: 1.3em;
  letter-spacing: .05em;
  line-height: 1.5em;
}

div.member_webs {
  width: 100%;
  height: 3em;
  line-height: 3em;
  border-bottom: 1px solid #eee;
  padding-bottom: .8em;
}

div.member_webs span {
  padding: .3em .6em;
  margin: 0 .4em;
  background: #f3f3f3;
  border-radius: 1em;
  font-size: 1.4em;
}

div.member_webs span i {
  margin-right: .2em;
  vertical-align: top;
}

div.member_webs span b {
  font-weight: 100;
  vertical-align: top;
}

div.member_motto p {
  line-height: 1.5em;
  margin: .8em 0;
  padding: .5em;
}

div.member_topic_main {
  width: 100%;
  border-radius: .3em;
  background: #fff;
  margin-bottom: .8em;
}

div.member_topic_title {
  width: 100%;
  height: 3.5em;
  line-height: 3.5em;
  padding: 0 .5em;
  border-bottom: 1px solid #eee;
}

img.member_topic_avatar {
  width: 2.4em;
  height: 2.4em;
  vertical-align: middle;
  margin-right: .3em;
  border-radius: .3em;
}

div.member_topic_title span {
  vertical-align: middle;
  font-weight: 600;
}

div.member_topic {
  padding: .5em;
}
